@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Fira+Code:wght@400;500;600;700&display=swap');


:root {

    --pink: #C778DD;
    --black: #282C33;
    --grey: #3a3a4548;
    --white: #ffffff;

}


* {
    box-sizing: border-box;
}


html {
    max-width: 1600px;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

body {
    width: 1024px;
    background-color: var(--grey);

}
.container {
    width: 100%;
    margin: 0 auto;

}


main {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    color: #ffffff;
}

.nav {

    background-color: transparent;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 32px;

}



.pink {
    color: var(--pink);
}


.header__logo-img {
    width: 51px;
    height: 51px;
    animation: becoming 10s ease;
    opacity: 1;
}

@keyframes becoming {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.header__logo {
    margin-right: 509px;

}
.header {
    font-size: 0.875rem;
    padding: 32px;
}

.header__wrapper {
    width: 100%;

}
.square1 {
    background-color: transparent;
    border: 1px solid var(--pink);

}

.animation-container {

    width: 100%;
    height: 100vh;
    background-color: transparent;
}




/* section INFO HELLO */





.HELLO {
    height: 100vh;
    width: 100%;
    color: #ffffff;
    line-height: normal;

}
.HELLO__subtitle {
    font-size: 0.6rem;
    width: 350px;
    margin-top: 10px;

}

.HELLO__wrapper {
    margin: 123px 0 0 154px;

}

.HELLO__button {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid var(--pink);
    color: var(--white);
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-family: 'Courier New', Courier, monospace;
}